manifest {
    homePage = ''
    description = 'extract selected short reads through classification in two phases'
    mainScript = 'variantSeeker.nf'
}

/* Pipeline running parameters */
params{
  small_db_nucl='TTV_nucleotide'
  small_db_prot='TTV_protein'
  large_db_nucl='nt'
  large_db_prot='nr'
  publish_base_dir='variantSeeker_output'
  fastq_dir='input_reads'
  html_dir='input_html'
  memory=110
  project_id='P13408'
  api_key="API KEY"
}

process{
  errorStrategy='ignore'
}

profiles {

  amanj {
    includeConfig 'conf/amanj.variantSeeker.config'
  }
  
  othello {
    includeConfig 'conf/othello.variantSeeker.config'
  }
}

report {
    enabled = true
    file = "variantSeeker_report.html"
}

timeline {
    enabled = true
    file = "variantSeeker_timeline.html"
}

trace{
  enabled = true
  file = "variantSeeker_trace.html"
  fields='task_id,hash,native_id,process,tag,name,status,exit,submit,start,complete,duration'
}
