/* Configure Databases */
params{

}

/* Configure steps, CPU and PATH requirements */
process {

    withName: blastn_phase1_PE{
       beforeScript='export BLASTDB=/database/small_DB_Anelloviruses_nucleotide'
       cpus=15
    }
    
    withName: blastn_phase1_S{
       beforeScript='export BLASTDB=/database/small_DB_Anelloviruses_nucleotide'
       cpus=14
    }

    withName: asm_metaviralspades{
       beforeScript='export assembler=/Packages/Tools/metaviralspades/spades/bin/metaspades.py'
       cpus=9
    }
    
    withName: asm_megahit{
       cpus=9
    }
    
    withName: blastn_phase2_megahit{
       beforeScript='export BLASTDB=/a312f655-eece-4d4f-b8ed-deafc31e61df/Database/nt'
       cpus=14
    }

    withName: blastn_phase2_metaviralspades{
       beforeScript='export BLASTDB=/a312f655-eece-4d4f-b8ed-deafc31e61df/Database/nt'
       cpus=14
    }

    withName: fetch_fasta_headers_local_DB{
       beforeScript='export BLASTDB=/a312f655-eece-4d4f-b8ed-deafc31e61df/Database/nt'
    }

    withName: fetch_taxonomy_esearch{
       executor = 'local'
       queueSize = 1
    }

}



